<div class="sticky-nav">
    <mat-toolbar class="main-nav">
      <button class="navbar-button">
        <mat-icon>home</mat-icon>
        <span>Home</span>
      </button>
      <button class="navbar-button">
        <mat-icon>movie</mat-icon>
        <span>Movies</span>
      </button>
      <button class="navbar-button">
        <mat-icon>supervisor_account</mat-icon>
        <span>Users</span>
      </button>
      <button class="navbar-button">
        <mat-icon> message</mat-icon>
        <span>About us</span>
      </button>
      <span class="example-spacer"></span>
    
      <button mat-icon-button [matMenuTriggerFor]="menu" class="example-icon" aria-label="Example icon-button with share icon">
        <mat-icon>apps</mat-icon>
      </button>
      <mat-menu  #menu="matMenu" class="menu">
        <button mat-menu-item>
          <mat-icon>settings</mat-icon>
          <span>Settings</span>
        </button>
        <button mat-menu-item>
          <mat-icon>search</mat-icon>
          <span>Search</span>
        </button>
        <button (click)="logout()" mat-menu-item>
          <mat-icon>person_pin</mat-icon>
          <span>Logout</span>
        </button>
      </mat-menu>

    </mat-toolbar>
  </div>
  <mat-toolbar class="main-nav other-nav">
    <div class="section-title">
      <h2>{{sectionTitle}}</h2>
    </div>
  </mat-toolbar>
  
  <mat-sidenav-container class="example-container">
    
    <mat-sidenav-content>
      <div class="content-box">
        123123132
        <router-outlet></router-outlet>
        
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
  
  <mat-toolbar class="main-nav other-nav">
    Footer
  </mat-toolbar>
  
